*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(233, 47%, 7%);
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 15px;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-areas: "text pic";
  grid-template-columns: 2fr 2fr;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 70vw;
  height: 40vh;
}
.content .text {
  display: grid;
  grid-template-areas:
    "heading heading heading"
    "paragraph paragraph paragraph"
    "list list list";
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 0px;
  background-color: hsl(244, 38%, 16%);
}
.content .text .heading {
  padding-bottom: 30px;
  grid-area: heading;
}
.content .text .paragraph {
  padding-bottom: 30px;
  color: hsla(0, 0%, 100%, 0.75);
  grid-area: paragraph;
}
.content .text .list {
  grid-area: list;
  text-transform: uppercase;
  display: grid;
  grid-template-areas: "first second third";
  grid-gap: -10px;
  align-items: center;
}
.content .text .list .first {
  grid-area: first;
  margin-right: -70px;
}
.content .text .list .second {
  grid-area: second;
  margin-right: -70px;
}
.content .text .list .third {
  grid-area: third;
}

.content .text .list .num {
  font-weight: bold;
  font-size: 20px;
  text-transform: none;
}
.content .pic {
  grid-area: pic;
}
.content .pic .color-overlay {
  /* background-color: rgba(171, 93, 219, 0.7); */
  background-color: rgba(208, 19, 212, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}
.content .pic img {
  display: none;
}
@media screen and (max-width: 375px) {
  .content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: -30px;
  }
  .content .pic {
    margin-top: -150px;
    display: block;
    width: 100%;
  }
  .heading {
    padding-right: 40px;
    margin-bottom: 15px;
    text-align: center;
  }
  .paragraph {
    text-align: center;
    padding-right: 40px;
  }
  .content .text .list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 40px;
  }
  .content .text .list .first {
    text-align: center;
    padding-bottom: 30px;
    padding-right: 70px;
  }
  .content .text .list .second {
    text-align: center;
    padding-bottom: 30px;
    padding-right: 70px;
  }
  .content .text .list .third {
    text-align: center;
    padding-bottom: 30px;
    padding-right: 0px;
  }
}
